@model TaskViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4>Edit "@Html.DisplayFor(model => model.Name)"</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <form asp-action="Edit" asp-controller="Tasks" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="editName" class="form-label">Name</label>
                <input type="text" value="@Model.Name" class="form-control" id="editName" asp-for="Name">
            </div>
            <div class="form-group mb-3">
                <label for="editDescription" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="editDescription" asp-for="Description">@Model.Description</textarea>
            </div>
            <input type="submit" class="btn-primary" value="Save"/>
        </form>
    </div>
</div>