@model ProjectViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4>Rename project "@Html.DisplayFor(model => model.Name)"</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <form asp-action="Edit" asp-controller="Projects" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="editName" class="form-label">Name</label>
                <input type="text" value="@Model.Name" class="form-control" id="editName" asp-for="Name">
            </div>
            <input type="submit" class="btn-primary" value="Rename project"/>
        </form>
    </div>
</div>